* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
}
.header {
  /* border: 1px solid red; */
  height: 500px;
  background-image: url("./images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  
}
.header_nav {
  height: 100px;
  /* border: 2px solid black; */
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}
.header_nav_logo {
  width: 10%;
}
.header_nav_logo h1 {
  text-align: left;
  font: normal normal bold 37px/60px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.header_nav_menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.header_nav_menu a {
  text-align: left;
  font: normal normal 300 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}
.header_nav_icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.header_nav_icons i {
  font: normal normal 300 16px/25px;
  color: white;
  background-color: transparent;
}

.header_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header_section h1 {
  text-align: center;
  font: normal normal bold 40px/53px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-bottom: 20px;
}
.header_section p {
  text-align: center;
  font: normal normal normal 14px/18px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-bottom: 20px;
}
.header_section_buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.header_section_buttons button {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 150px;
  height: 40px;
  border: none;

}

.about_section {
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_section_DivImg {
  padding-right: 100px;
}
.about_section_DivImg img {
  width: 450px;
  height: 550px;
}
.about_section_DivDescription {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.about_section_DivDescription h3 {
  text-align: left;
  font: normal normal bold 33px/41px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}
.about_section_DivDescription p {
  text-align: left;
  font: normal normal medium 16px/26px Poppins;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
}
.products_title {
  text-align: left;
  font: normal normal bold 33px/41px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
  padding: 30px 100px;
}
.products_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
.product_card {
  width: 200px;
  height: 400px;
}
.product_card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product_card h4 {
  text-align: left;
  font: normal normal normal 16px/20px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}
.product_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_icon button {
  width: 150px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 2px;
  border: none;
  font: normal normal 10px/14px Mulish;
}

.whyUs {
  padding: 0 100px;
  width: 100%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 200px;
  display: flex;
}
.whyUs_title {
  width: 15%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyUs_title h1 {
  text-align: center;
  font: normal normal bold 24px/30px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}
.whyUs_desc {
  width: 85%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.whyUs_desc_div {
  width: 28.33%;
  text-align: center;
}
.whyUs_desc_div i {
  font-size: 20px;
  color: white;
  background-color: #0054cb;
  border-radius: 50%;
  padding: 5%;
  margin-bottom: 20px;
}
.whyUs_desc_div p {
  text-align: center;
  font: normal normal medium 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
}
/* .blog_title {
    text-align: left;
    font: normal normal bold 33px/41px Poppins;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
    padding: 30px 100px;
    background-color: #fbfbfb;

  } */

.blog {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  background-color: #fbfbfb;
  height: 500px;
}

.blog_card {
  width: 23%;

  height: auto;
  background-color: white;
}

.blog_card img {
  width: 92%;
  margin: 10px;
}

.blog_card h3 {
  text-align: left;
  font: normal normal 900 20px/24px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 10px;
  padding-bottom: 10px;
}

.blog_card h6 {
  margin: 10px;
  text-align: left;
  font: normal normal 600 12px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #00000091;
  opacity: 1;
}
.blog_card_person {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 8px;
}
.blog_card_person_photo {
  width: 40px;
  height: 40px;
  background-color: #cbcbcb;
  border-radius: 50%;
  margin-right: 20px;
}

.blog_card_person_name {
  text-align: left;
  font: normal normal bold 13px/18px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.blog_card_person_profession {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.about {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 0 100px;
}
.about_text {
  height: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}
.about_text_title {
  text-align: center;
  font: normal normal bold 33px/41px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
}
.about_text_description {
  text-align: center;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.about_photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* padding-top: 30px; */
  padding: 30px 100px;
}
.about_photos_img {
  width: 520px;
  height: 300px;
}

.footer {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.left_footer {
  width: 30%;
}
.left_footer h2 {
  text-align: left;
  font: normal normal bold 32px/42px Noto Sans;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
  padding-bottom: 20px;
}
.left_footer p {
  padding-bottom: 20px;
  text-align: left;
  font: normal normal medium 16px/26px Noto Sans;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
}
.left_footer_icons {
  display: flex;
  justify-content: space-between;
}
.left_footer_icons i {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 14px;
}
.right_footer {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right_footer_products h3 {
  line-height: 60px;
  text-align: center;
  font: normal normal bold 24px/34px Noto Sans;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}
.right_footer_products ul {
  list-style-type: none;
}
.right_footer_products ul li {
  padding-bottom: 12px;
}
.right_footer_products ul li:first-child {
  padding-top: 20px;
}
.right_footer_services h3 {
  line-height: 60px;
  text-align: center;
  font: normal normal bold 24px/34px Noto Sans;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}
.right_footer_services ul {
  list-style-type: none;
}
.right_footer_services ul li {
  padding-bottom: 12px;
}
.right_footer_services ul li:first-child {
  padding-top: 20px;
}
.right_footer_resources h3 {
  line-height: 60px;
  text-align: center;
  font: normal normal bold 24px/34px Noto Sans;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}
.right_footer_resources ul {
  list-style-type: none;
}
.right_footer_resources ul li {
  padding-bottom: 12px;
}
.right_footer_resources ul li:first-child {
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  .about_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .about_section_DivImg {
    padding: 20px 0;
  }
  .about_section_DivImg img {
    width: 300px;
    height: 400px;
  }
  .about_section_DivDescription {
    width: 100%;
    align-items: center;
  }
  .about_section_DivDescription h3 {
    font: normal normal bold 28px/34px Poppins;
  }
  .about_section_DivDescription p {
    font: normal normal medium 14px/22px Poppins;
  }
}

@media screen and (max-width: 768px) {
  .about_section {
    padding: 0;
    flex-direction: column;
  }
  .about_section_DivImg {
    padding: 30px 0;
  }
  .about_section_DivImg img {
    width: 450px;
    height: 550px;
  }
  .about_section_DivDescription {
    width: 100%;

    align-items: center;
  }
  .about_section_DivDescription h3 {
    text-align: left;
    font: normal normal bold 33px/41px Poppins;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
  }
  .about_section_DivDescription p {
    padding: 10px 40px;
    text-align: left;
    font: normal normal medium 18px/30px Poppins;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    /* background-color: #373535; */
  }
}

@media screen and (max-width: 992px) {
  .about_section {
    padding: 10px 60px;
  }
  .about_section_DivImg {
    padding-right: 20px;
  }
  .about_section_DivImg img {
    width: 330px;
    height: 450px;
  }
  .about_section_DivDescription {
    width: 100%;
    height: auto;
    /* align-items: center; */
  }
  .about_section_DivDescription h3 {
    text-align: left;
    font: normal normal bold 30px/35px Poppins;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
  }
  .about_section_DivDescription p {
    text-align: left;
    font: normal normal medium 14px/20px Poppins;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
  }
}
